@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  svg.lucide {
    stroke-width: 2.5px;
  }
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
